html, body {
  background: none repeat scroll 0 0 #F5F5F5;
  height: 100%;
}

.App {
  color: #000;
  background: #fff;
  max-width: 1024px;
  min-height: 100vh;
  margin: 0 auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  flex-direction: column;
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main {
  background: #fff;
  display: flex;
  justify-content: center;
  color: white;
  overflow: hidden;
  flex-wrap: wrap;
  gap: 15px;
  padding-bottom: 50px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}